
node_modules
*.code-workspace
*.idea
*.env
.vs-code/
# Docker image to serv
*.tar
.tar
# Images
!frontend/static/Sounds/Actions/*.mp3
!frontend/static/Sounds/Fond/*.mp3
Sounds
zombie

key/

