:root {
	--background-color-1: #f5f9ff;
	--font-color: #2c3e50;

	--first-color: #414141;
	--second-color: #1f6398;
	--third-color: #6e23ac;
	--fourth-color: #ab0106;
	--five-color: #cfcf39;

	/* --popup-first-color: #565665; */
	/* --popup-first-color: #060630; */
	/* --popup-first-color: #0e0e30; */
	/* --popup-first-color: #7e8bb8; */
	--popup-first-color: #dbd6c9;
	/* --popup-first-color: #fff; */
	
	/* --popup-second-color: #758c98; */
	--popup-second-color: black;
	--popup-third-color: black;
	--popup-background-color: #001446;

	/* Cursor */
	--cursor-first: #d5c4be;
	--cursor-second: #829dc1b5;
	--cursor-third: #4573b1ad;

}



@font-face {
	font-family: 'audio_wide';
	/* src: url('@/assets/fonts/alata/Alata-Regular.ttf') format('truetype'); */
	src: url('@/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
	display: none;
}

html {
	margin: 0;
	height: 100dvh;
	background-color: white;
	color: white;
	overflow-x: hidden;

	font-family: 'audio_wide';

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;

	/* Utilisées pour améliorer la lisibilité des polices à l'écran */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	cursor: none;
}

body {
	margin: 0;
}

/* Surlignage du texte */
::selection {
	background-color: var(--background-color-1);
	color: #7eb3e8;
}

::-moz-selection {
	background-color: var(--background-color-1);
	color: #2c3e50;
}


p {
	margin: 0;
}

a:hover, button:hover{
	cursor: none;
}


a {
	color: white;
	transition: transform 0.1s ease-in;
	text-decoration: none;
}

a:hover{ 
	transform: scale(1.1);
	text-decoration: underline;
}